<div class="navigation">
    <a aria-label="Search Food" routerLink="" routerLinkActive="active"  rel="noopener" href="" title="Search Food">
        Search
    </a>
    <a aria-label="Offers" routerLink="offers" routerLinkActive="active" router rel="noopener" href="" title="Offers">
        Offers
    </a>
    <a aria-label="Help" rel="noopener" href="" title="Help">
        Help
    </a>
    <a aria-label="Sign-In" rel="noopener" href="" title="Sign-In">
        Sign-In
    </a>
    <a aria-label="Cart" rel="noopener" href="" title="Cart">
        Cart
    </a>
</div>